<div id="about" class="scene">
	<div class="container">
		<div class="small back button">&larr; Title</div>

		<h2>About</h2>

		<p>The objective of Reversi is to capture as many pieces as possible. <br>
			Black starts, and must play in one of the four spaces at the center of the board. <br>
			When the center is filled, players may start capturing other pieces.<br>
			A piece is captured when it is between two other pieces of the opposite color. <br>
			The game ends when both players can't move, or the board is full.</p>
	</div>
</div>