<div id="game" class="scene">
	<div class="container">

		<div class="info">
			<div class="black">Black <span class="count">0</span></div>
			<div class="white">White <span class="count">0</span></div>
			<div class="button quit"><span>Quit</span></div>
		</div>

		<!-- 8x8 board -->
		<div class="board">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div>	<!-- /.board -->
	</div>
</div>